div{
    border-radius: 50%;
    
    background-color: rgb(255, 40, 40);
}

.div-10{
    width: 100px;
    height: 100px;
}
.div-9{
    width: 100px;
    height: 100px;
}
.div-8{
    width: 100px;
    height: 100px;
}
.div-7{
    width: 100px;
    height: 100px;
}
.div-6{
    width: 100px;
    height: 100px;

}
.div-5{
    width: 100px;
    height: 100px;
}
.div-4{
    width: 100px;
    height: 100px;
}

.div-3{
    width: 100px;
    height: 100px;
}

.div-2{
    width: 100px;
    height: 100px;
}

.div-1{
    width: 100px;
    height: 100px;
}