.html_index{
    background-color:rgb(242, 230, 199);
}

div{
    position: absolute;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
.text{
    border-style: solid ;
    border: 1px solid black;
    background-color: rgb(232, 242, 232);
    height: 30px;
    width: 500px;
    font-size: 30px;
}
.text1{
    text-align: left;
}
.text2{
    text-align: center;
}
.text3{
    text-align: right;
}
.borders{
    border-style: dotted dashed solid double;
    border-color: green blue red black ;
}

