table {
    width: 100%;
  }
  
  th {
    height: 70px;
    text-align: center;
}

tr{
    text-align: center;
}
span {
    text-align: center;
    background-color: rgb(108, 255, 255);
}

td{
    border-bottom-style:groove;
    border-left-style:groove;

}
.iva{
    text-align: center;
    background-color: rgb(108, 255, 255);
}
table{
    background-color: #ffe4c4;
    text-align: center;
    border-style:groove;
    border-width: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}